#photo1 {
    background-image: url("images/sweats/sweat1.png");
    background-size: cover;
    background-position: center;
}

#photo2 {
    background-image: url("images/sweats/sweat2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo3 {
    background-image: url("images/sweats/sweat25.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo4 {
    background-image: url("images/sweats/sweat3.png");
    background-size: cover;
    background-position: center;
}

#photo5 {
    background-image: url("images/sweats/sweat4.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo6 {
    background-image: url("images/sweats/sweat26.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo7 {
    background-image: url("images/sweats/sweat5.png");
    background-size: cover;
    background-position: center;
}

#photo8 {
    background-image: url("images/sweats/sweat6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo9 {
    background-image: url("images/sweats/sweat27.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo10 {
    background-image: url("images/sweats/sweat7.png");
    background-size: cover;
    background-position: center;
}

#photo11 {
    background-image: url("images/sweats/sweat8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo12 {
    background-image: url("images/sweats/sweat28.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo13 {
    background-image: url("images/sweats/sweat9.png");
    background-size: cover;
    background-position: center;
}

#photo14 {
    background-image: url("images/sweats/sweat10.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo15 {
    background-image: url("images/sweats/sweat29.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo16 {
    background-image: url("images/sweats/sweat11.png");
    background-size: cover;
    background-position: center;
}

#photo17 {
    background-image: url("images/sweats/sweat12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo18 {
    background-image: url("images/sweats/sweat30.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo19 {
    background-image: url("images/sweats/sweat13.png");
    background-size: cover;
    background-position: center;
}

#photo20 {
    background-image: url("images/sweats/sweat14.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo21 {
    background-image: url("images/sweats/sweat31.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo22 {
    background-image: url("images/sweats/sweat15.png");
    background-size: cover;
    background-position: center;
}

#photo23 {
    background-image: url("images/sweats/sweat16.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo24 {
    background-image: url("images/sweats/sweat32.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo25 {
    background-image: url("images/t-shirts/t-shirt1.png");
    background-size: cover;
    background-position: center;
}

#photo26 {
    background-image: url("images/t-shirts/t-shirt2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo27 {
    background-image: url("images/t-shirts/t-shirt3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo28 {
    background-image: url("images/t-shirts/t-shirt4.png");
    background-size: cover;
    background-position: center;
}

#photo29 {
    background-image: url("images/t-shirts/t-shirt5.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo30 {
    background-image: url("images/t-shirts/t-shirt6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo31 {
    background-image: url("images/t-shirts/t-shirt7.png");
    background-size: cover;
    background-position: center;
}

#photo32 {
    background-image: url("images/t-shirts/t-shirt8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo33 {
    background-image: url("images/t-shirts/t-shirt9.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo34 {
    background-image: url("images/t-shirts/t-shirt10.png");
    background-size: cover;
    background-position: center;
}

#photo35 {
    background-image: url("images/t-shirts/t-shirt11.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo36 {
    background-image: url("images/t-shirts/t-shirt12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo37 {
    background-image: url("images/chemises/chemise1.png");
    background-size: cover;
    background-position: center;
}

#photo38 {
    background-image: url("images/chemises/chemise2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo39 {
    background-image: url("images/chemises/chemise3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo40 {
    background-image: url("images/chemises/chemise4.png");
    background-size: cover;
    background-position: center;
}

#photo41 {
    background-image: url("images/chemises/chemise5.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo42 {
    background-image: url("images/chemises/chemise6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo43 {
    background-image: url("images/chemises/chemise7.png");
    background-size: cover;
    background-position: center;
}

#photo44 {
    background-image: url("images/chemises/chemise8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo45 {
    background-image: url("images/chemises/chemise9.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo46 {
    background-image: url("images/chemises/chemise10.png");
    background-size: cover;
    background-position: center;
}

#photo47 {
    background-image: url("images/chemises/chemise11.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo48 {
    background-image: url("images/chemises/chemise12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo49 {
    background-image: url("images/jeans/jean1.png");
    background-size: cover;
    background-position: center;
}

#photo50 {
    background-image: url("images/jeans/jean2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo51 {
    background-image: url("images/jeans/jean3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo52 {
    background-image: url("images/jeans/jean4.png");
    background-size: cover;
    background-position: center;
}

#photo53 {
    background-image: url("images/jeans/jean5.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo54 {
    background-image: url("images/jeans/jean6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo55 {
    background-image: url("images/jeans/jean7.png");
    background-size: cover;
    background-position: center;
}

#photo56 {
    background-image: url("images/jeans/jean8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo57 {
    background-image: url("images/jeans/jean9.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo58 {
    background-image: url("images/jeans/jean10.png");
    background-size: cover;
    background-position: center;
}

#photo59 {
    background-image: url("images/jeans/jean11.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo60 {
    background-image: url("images/jeans/jean12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo61 {
    background-image: url("images/pantalons/pantalon1.png");
    background-size: cover;
    background-position: center;
}

#photo62 {
    background-image: url("images/pantalons/pantalon2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo63 {
    background-image: url("images/pantalons/pantalon3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo64 {
    background-image: url("images/pantalons/pantalon4.png");
    background-size: cover;
    background-position: center;
}

#photo65 {
    background-image: url("images/pantalons/pantalon5.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo66 {
    background-image: url("images/pantalons/pantalon6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo67 {
    background-image: url("images/pantalons/pantalon7.png");
    background-size: cover;
    background-position: center;
}

#photo68 {
    background-image: url("images/pantalons/pantalon8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo69 {
    background-image: url("images/pantalons/pantalon9.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo70 {
    background-image: url("images/pantalons/pantalon10.png");
    background-size: cover;
    background-position: center;
}

#photo71 {
    background-image: url("images/pantalons/pantalon11.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo72 {
    background-image: url("images/pantalons/pantalon12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo73 {
    background-image: url("images/shorts/short1.png");
    background-size: cover;
    background-position: center;
}

#photo74 {
    background-image: url("images/shorts/short2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo75 {
    background-image: url("images/shorts/short3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo76 {
    background-image: url("images/shorts/short4.png");
    background-size: cover;
    background-position: center;
}

#photo77 {
    background-image: url("images/shorts/short5.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo78 {
    background-image: url("images/shorts/short6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo79 {
    background-image: url("images/shorts/short7.png");
    background-size: cover;
    background-position: center;
}

#photo80 {
    background-image: url("images/shorts/short8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo81 {
    background-image: url("images/shorts/short9.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo82 {
    background-image: url("images/shorts/short10.png");
    background-size: cover;
    background-position: center;
}

#photo83 {
    background-image: url("images/shorts/short11.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo84 {
    background-image: url("images/shorts/short12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo85 {
    background-image: url("images/casquettes/casquette1.png");
    background-size: cover;
    background-position: center;
}

#photo86 {
    background-image: url("images/casquettes/casquette2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo87 {
    background-image: url("images/casquettes/casquette3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo88 {
    background-image: url("images/casquettes/casquette4.png");
    background-size: cover;
    background-position: center;
}

#photo89 {
    background-image: url("images/casquettes/casquette5.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo90 {
    background-image: url("images/casquettes/casquette6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo91 {
    background-image: url("images/casquettes/casquette7.png");
    background-size: cover;
    background-position: center;
}

#photo92 {
    background-image: url("images/casquettes/casquette8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo93 {
    background-image: url("images/casquettes/casquette9.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo94 {
    background-image: url("images/casquettes/casquette10.png");
    background-size: cover;
    background-position: center;
}

#photo95 {
    background-image: url("images/casquettes/casquette11.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo96 {
    background-image: url("images/casquettes/casquette12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo97 {
    background-image: url("images/sacoches/sacoche1.png");
    background-size: cover;
    background-position: center;
}

#photo98 {
    background-image: url("images/sacoches/sacoche2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo99 {
    background-image: url("images/sacoches/sacoche3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo100 {
    background-image: url("images/sacoches/sacoche4.png");
    background-size: cover;
    background-position: center;
}

#photo101 {
    background-image: url("images/sacoches/sacoche5.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo102 {
    background-image: url("images/sacoches/sacoche6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo103 {
    background-image: url("images/sacoches/sacoche7.png");
    background-size: cover;
    background-position: center;
}

#photo104 {
    background-image: url("images/sacoches/sacoche8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo105 {
    background-image: url("images/sacoches/sacoche9.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo106 {
    background-image: url("images/sacoches/sacoche10.png");
    background-size: cover;
    background-position: center;
}

#photo107 {
    background-image: url("images/sacoches/sacoche11.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo108 {
    background-image: url("images/sacoches/sacoche12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo109 {
    background-image: url("images/ceintures/ceinture1.png");
    background-size: cover;
    background-position: center;
}

#photo110 {
    background-image: url("images/ceintures/ceinture2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo111 {
    background-image: url("images/ceintures/ceinture3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo112 {
    background-image: url("images/ceintures/ceinture4.png");
    background-size: cover;
    background-position: center;
}

#photo113 {
    background-image: url("images/ceintures/ceinture5.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo114 {
    background-image: url("images/ceintures/ceinture6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo115 {
    background-image: url("images/ceintures/ceinture7.png");
    background-size: cover;
    background-position: center;
}

#photo116 {
    background-image: url("images/ceintures/ceinture8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo117 {
    background-image: url("images/ceintures/ceinture9.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo118 {
    background-image: url("images/ceintures/ceinture10.png");
    background-size: cover;
    background-position: center;
}

#photo119 {
    background-image: url("images/ceintures/ceinture11.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo120 {
    background-image: url("images/ceintures/ceinture12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo121 {
    background-image: url("images/maillots/maillot1.png");
    background-size: cover;
    background-position: center;
}

#photo122 {
    background-image: url("images/maillots/maillot2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo123 {
    background-image: url("images/maillots/maillot3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo124 {
    background-image: url("images/maillots/maillot4.png");
    background-size: cover;
    background-position: center;
}

#photo125 {
    background-image: url("images/maillots/maillot5.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo126 {
    background-image: url("images/maillots/maillot6.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo127 {
    background-image: url("images/maillots/maillot7.png");
    background-size: cover;
    background-position: center;
}

#photo128 {
    background-image: url("images/maillots/maillot8.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo129 {
    background-image: url("images/maillots/maillot9.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo130 {
    background-image: url("images/maillots/maillot10.png");
    background-size: cover;
    background-position: center;
}

#photo131 {
    background-image: url("images/maillots/maillot11.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#photo132 {
    background-image: url("images/maillots/maillot12.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}



#photo1:checked ~ .afficher-image {background-image: url("images/sweats/sweat1.png");}

#photo2:checked ~ .afficher-image {background-image: url("images/sweats/sweat2.png");}

#photo3:checked ~ .afficher-image {background-image: url("images/sweats/sweat25.png");}

#photo4:checked ~ .afficher-image {background-image: url("images/sweats/sweat3.png");}

#photo5:checked ~ .afficher-image {background-image: url("images/sweats/sweat4.png");}

#photo6:checked ~ .afficher-image {background-image: url("images/sweats/sweat26.png");}

#photo7:checked ~ .afficher-image {background-image: url("images/sweats/sweat5.png");}

#photo8:checked ~ .afficher-image {background-image: url("images/sweats/sweat6.png");}

#photo9:checked ~ .afficher-image {background-image: url("images/sweats/sweat27.png");}

#photo10:checked ~ .afficher-image {background-image: url("images/sweats/sweat7.png");}

#photo11:checked ~ .afficher-image {background-image: url("images/sweats/sweat8.png");}

#photo12:checked ~ .afficher-image {background-image: url("images/sweats/sweat28.png");}

#photo13:checked ~ .afficher-image {background-image: url("images/sweats/sweat9.png");}

#photo14:checked ~ .afficher-image {background-image: url("images/sweats/sweat10.png");}

#photo15:checked ~ .afficher-image {background-image: url("images/sweats/sweat29.png");}

#photo16:checked ~ .afficher-image {background-image: url("images/sweats/sweat11.png");}

#photo17:checked ~ .afficher-image {background-image: url("images/sweats/sweat12.png");}

#photo18:checked ~ .afficher-image {background-image: url("images/sweats/sweat30.png");}

#photo19:checked ~ .afficher-image {background-image: url("images/sweats/sweat13.png");}

#photo20:checked ~ .afficher-image {background-image: url("images/sweats/sweat14.png");}

#photo21:checked ~ .afficher-image {background-image: url("images/sweats/sweat31.png");}

#photo22:checked ~ .afficher-image {background-image: url("images/sweats/sweat15.png");}

#photo23:checked ~ .afficher-image {background-image: url("images/sweats/sweat16.png");}

#photo24:checked ~ .afficher-image {background-image: url("images/sweats/sweat32.png");}

#photo25:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt1.png");}

#photo26:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt2.png");}

#photo27:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt3.png");}

#photo28:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt4.png");}

#photo29:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt5.png");}

#photo30:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt6.png");}

#photo31:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt7.png");}

#photo32:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt8.png");}

#photo33:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt9.png");}

#photo34:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt10.png");}

#photo35:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt11.png");}

#photo36:checked ~ .afficher-image {background-image: url("images/t-shirts/t-shirt12.png");}

#photo37:checked ~ .afficher-image {background-image: url("images/chemises/chemise1.png");}

#photo38:checked ~ .afficher-image {background-image: url("images/chemises/chemise2.png");}

#photo39:checked ~ .afficher-image {background-image: url("images/chemises/chemise3.png");}

#photo40:checked ~ .afficher-image {background-image: url("images/chemises/chemise4.png");}

#photo41:checked ~ .afficher-image {background-image: url("images/chemises/chemise5.png");}

#photo42:checked ~ .afficher-image {background-image: url("images/chemises/chemise6.png");}

#photo43:checked ~ .afficher-image {background-image: url("images/chemises/chemise7.png");}

#photo44:checked ~ .afficher-image {background-image: url("images/chemises/chemise8.png");}

#photo45:checked ~ .afficher-image {background-image: url("images/chemises/chemise9.png");}

#photo46:checked ~ .afficher-image {background-image: url("images/chemises/chemise10.png");}

#photo47:checked ~ .afficher-image {background-image: url("images/chemises/chemise11.png");}

#photo48:checked ~ .afficher-image {background-image: url("images/chemises/chemise12.png");}

#photo49:checked ~ .afficher-image {background-image: url("images/jeans/jean1.png");}

#photo50:checked ~ .afficher-image {background-image: url("images/jeans/jean2.png");}

#photo51:checked ~ .afficher-image {background-image: url("images/jeans/jean3.png");}

#photo52:checked ~ .afficher-image {background-image: url("images/jeans/jean4.png");}

#photo53:checked ~ .afficher-image {background-image: url("images/jeans/jean5.png");}

#photo54:checked ~ .afficher-image {background-image: url("images/jeans/jean6.png");}

#photo55:checked ~ .afficher-image {background-image: url("images/jeans/jean7.png");}

#photo56:checked ~ .afficher-image {background-image: url("images/jeans/jean8.png");}

#photo57:checked ~ .afficher-image {background-image: url("images/jeans/jean9.png");}

#photo58:checked ~ .afficher-image {background-image: url("images/jeans/jean10.png");}

#photo59:checked ~ .afficher-image {background-image: url("images/jeans/jean11.png");}

#photo60:checked ~ .afficher-image {background-image: url("images/jeans/jean12.png");}

#photo61:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon1.png");}

#photo62:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon2.png");}

#photo63:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon3.png");}

#photo64:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon4.png");}

#photo65:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon5.png");}

#photo66:checked ~ .afficher-image {background-image: url("images/pantalons/pantalone6.png");}

#photo67:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon7.png");}

#photo68:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon8.png");}

#photo69:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon9.png");}

#photo70:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon10.png");}

#photo71:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon11.png");}

#photo72:checked ~ .afficher-image {background-image: url("images/pantalons/pantalon12.png");}

#photo73:checked ~ .afficher-image {background-image: url("images/shorts/short1.png");}

#photo74:checked ~ .afficher-image {background-image: url("images/shorts/short2.png");}

#photo75:checked ~ .afficher-image {background-image: url("images/shorts/short3.png");}

#photo76:checked ~ .afficher-image {background-image: url("images/shorts/short4.png");}

#photo77:checked ~ .afficher-image {background-image: url("images/shorts/short5.png");}

#photo78:checked ~ .afficher-image {background-image: url("images/shorts/short6.png");}

#photo79:checked ~ .afficher-image {background-image: url("images/shorts/short7.png");}

#photo80:checked ~ .afficher-image {background-image: url("images/shorts/short8.png");}

#photo81:checked ~ .afficher-image {background-image: url("images/shorts/short9.png");}

#photo82:checked ~ .afficher-image {background-image: url("images/shorts/short10.png");}

#photo83:checked ~ .afficher-image {background-image: url("images/shorts/short11.png");}

#photo84:checked ~ .afficher-image {background-image: url("images/shorts/short12.png");}

#photo85:checked ~ .afficher-image {background-image: url("images/casquettes/casquette1.png");}

#photo86:checked ~ .afficher-image {background-image: url("images/casquettes/casquette2.png");}

#photo87:checked ~ .afficher-image {background-image: url("images/casquettes/casquette3.png");}

#photo88:checked ~ .afficher-image {background-image: url("images/casquettes/casquette4.png");}

#photo89:checked ~ .afficher-image {background-image: url("images/casquettes/casquette5.png");}

#photo90:checked ~ .afficher-image {background-image: url("images/casquettes/casquette6.png");}

#photo91:checked ~ .afficher-image {background-image: url("images/casquettes/casquette7.png");}

#photo92:checked ~ .afficher-image {background-image: url("images/casquettes/casquette8.png");}

#photo93:checked ~ .afficher-image {background-image: url("images/casquettes/casquette9.png");}

#photo94:checked ~ .afficher-image {background-image: url("images/casquettes/casquette10.png");}

#photo95:checked ~ .afficher-image {background-image: url("images/casquettes/casquette11.png");}

#photo96:checked ~ .afficher-image {background-image: url("images/casquettes/casquette12.png");}

#photo97:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche1.png");}

#photo98:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche2.png");}

#photo99:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche3.png");}

#photo100:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche4.png");}

#photo101:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche5.png");}

#photo102:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche6.png");}

#photo103:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche7.png");}

#photo104:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche8.png");}

#photo105:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche9.png");}

#photo106:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche10.png");}

#photo107:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche11.png");}

#photo108:checked ~ .afficher-image {background-image: url("images/sacoches/sacoche12.png");}

#photo109:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture1.png");}

#photo110:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture2.png");}

#photo111:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture3.png");}

#photo112:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture4.png");}

#photo113:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture5.png");}

#photo114:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture6.png");}

#photo115:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture7.png");}

#photo116:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture8.png");}

#photo117:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture9.png");}

#photo118:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture10.png");}

#photo119:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture11.png");}

#photo120:checked ~ .afficher-image {background-image: url("images/ceintures/ceinture12.png");}

#photo121:checked ~ .afficher-image {background-image: url("images/maillots/maillot1.png");}

#photo122:checked ~ .afficher-image {background-image: url("images/maillots/maillot2.png");}

#photo123:checked ~ .afficher-image {background-image: url("images/maillots/maillot3.png");}

#photo124:checked ~ .afficher-image {background-image: url("images/maillots/maillot4.png");}

#photo125:checked ~ .afficher-image {background-image: url("images/maillots/maillot5.png");}

#photo126:checked ~ .afficher-image {background-image: url("images/maillots/maillot6.png");}

#photo127:checked ~ .afficher-image {background-image: url("images/maillots/maillot7.png");}

#photo128:checked ~ .afficher-image {background-image: url("images/maillots/maillot8.png");}

#photo129:checked ~ .afficher-image {background-image: url("images/maillots/maillot9.png");}

#photo130:checked ~ .afficher-image {background-image: url("images/maillots/maillot10.png");}

#photo131:checked ~ .afficher-image {background-image: url("images/maillots/maillot11.png");}

#photo132:checked ~ .afficher-image {background-image: url("images/maillots/maillot12.png");}


